.participants {
  margin: 200px auto 140px;
  overflow: hidden;
  max-width: 1222px;
  width: 100%;
  /* padding-left: 15px; */
}

@media screen and (max-width: 1280px) {
  .participants {
    margin: 120px auto 100px;
    max-width: 335px;
    padding-left: 0;
  }
}
