@import url(./vendor/normlize.css);
@import url(./vendor/fonts/fonts.css);

.body {
  overflow-x: hidden;
}

.page {
  font-family: "Golos Text", sans-serif;
  margin: 0 auto 0;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
}

.hero {
  height: 100vh;
  min-height: 600px;
  max-height: 700px;
  background: #e9ded4;
  position: relative;
  overflow: hidden;
  /* max-width: 1920px;
  width: 100%; */
  margin: 0 auto 0;
  padding-left: 8px;
}

@media screen and (max-width: 1366px) {
  .hero {
    max-width: 1366px;
    padding-left: 0;
    /* height: 774px;
    max-height: 774px; */
  }
}

@media screen and (max-width: 375px) {
  .hero {
    height: 774px;
    max-height: 774px;
  }
}

.hero__texture {
  width: 100vw;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
  mix-blend-mode: color-burn;
  margin: 0 auto 0;
}

.hero__container {
  max-width: 1222px;
  min-width: 1222px;
  margin: 0 auto 0;
  position: relative;
  z-index: 100;
}

@media screen and (max-width: 1366px) {
  .hero__container {
    max-width: 1207px;
    min-width: 1200px;
  }
}

@media screen and (max-width: 375px) {
  .hero__container {
    max-width: 335px;
    padding: 0 20px 0;
  }
}

@media screen and (max-width: 375px) {
  .header {
    max-width: 335px;
  }
}

.header__logo {
  margin: 26px 0 0 0;
}

@media screen and (max-width: 375px) {
  .header__logo {
    width: 213px;
    height: 32px;
    margin: 18px 0 0 0;
  }
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 542px;
  margin: 58px 0 191px 0;
}

@media screen and (max-width: 375px) {
  .content {
    max-width: 335px;
    margin: 38px 0 0 0;
  }
}

.content__title-line {
  margin: 0;
  padding: 0;
  color: #313131;
  font-family: Merriweather;
  font-size: 60px;
  font-style: normal;
  font-weight: 400;
  line-height: 110%;
  text-transform: uppercase;
  width: 100%;
}

@media screen and (max-width: 375px) {
  .content__title-line {
    font-size: 36px;
  }
}

.content__title-line-2 {
  text-align: center;
}

.content__title-line-3 {
  text-align: right;
}

.content__subtitle {
  margin: 24px 0 0;
  padding: 0;
  color: #313131;
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
}

@media screen and (max-width: 375px) {
  .content__subtitle {
    text-align: left;
  }
}

.content__button-container {
  width: 100%;
  display: flex;
  gap: 16px;
  margin: 40px 0 0;
}

@media screen and (max-width: 375px) {
  .content__button-container {
    flex-direction: column;
    margin: 31px 0 0;
  }
}

.content__button {
  cursor: pointer;
  width: 100%;
  height: 72px;
  display: flex;
  padding: 20px 52px 20px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 66px;
  background: #1f1f1f;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 130%;
  border: none;
  transition: color 0.2s ease-in-out;
  transition: background 0.2s ease-in-out;
}

@media screen and (max-width: 375px) {
  .content__button {
    height: 47px;
    padding: 20px 18px 20px;
  }
}

.content__button_type_support {
  color: #fff;
}

.content__button_type_support:hover {
  background: #fbce51;
  color: #1f1f1f;
}

.content__button_type_details {
  background: transparent;
  border: 2px solid #1f1f1f;
  transition: opacity 1s ease-in-out;
  color: #1f1f1f;
  transition: color 0.2s ease-in-out;
  transition: background 0.2s ease-in-out;
}

.content__button_type_details:hover {
  color: #fff;
  background: #1f1f1f;
}

@media screen and (max-width: 375px) {
  .content__button_type_details {
    background: #fff;
    border: none;
  }
}

.hero__background-img {
  position: absolute;
  z-index: 12;
  top: -44px;
  left: 158px;
}

@media screen and (max-width: 1366px) {
  .hero__background-img {
    left: -120px;
  }
}

/* @media screen and (max-width: 375px) {
  .hero__background-img {
    max-width: 885.53px;
  }
} */

.hero__city-plane {
  position: absolute;
  left: 0px;
  top: 303px;
  z-index: 3;
}

@media screen and (max-width: 375px) {
  .hero__city-plane {
    max-width: 885.53px;
    top: 577px;
    left: -281px;
  }
}

.hero__chess {
  position: absolute;
}

.hero__chess_number_1 {
  top: 526px;
  left: 956px;
  z-index: 13;
}

@media screen and (max-width: 375px) {
  .hero__chess_number_1 {
    top: 705px;
    left: 265px;
    max-width: 102px;
  }
}

.hero__chess_number_2 {
  top: 602px;
  z-index: 14;
  left: 1359px;
}

@media screen and (max-width: 375px) {
  .hero__chess_number_2 {
    display: none;
  }
}

.hero__chess_number_3 {
  top: 210px;
  z-index: 1;
  left: 1181px;
}

@media screen and (max-width: 375px) {
  .hero__chess_number_3 {
    top: 543px;
    left: 346px;
    transform: rotate(5deg);
    max-width: 64px;
  }
}

.hero__chess_number_4 {
  top: 313px;
  left: 849px;
  z-index: 2;
}

@media screen and (max-width: 375px) {
  .hero__chess_number_4 {
    top: 586px;
    left: 182px;
    max-width: 61px;
  }
}

.hero__circle {
  width: 660px;
  height: 660px;
  border-radius: 660px;
  background: #fbce51;
  position: absolute;
  top: 0;
  left: 793px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 375px) {
  .hero__circle {
    width: 297.47px;
    height: 297.47px;
    top: 454px;
    left: 150px;
  }
}

.hero__circle-text {
  width: 634px;
  height: 634px;
  mix-blend-mode: overlay;
  animation: circleText linear 40s infinite;
}

@media screen and (max-width: 375px) {
  .hero__circle-text {
    width: 285.76px;
    height: 285.76px;
  }
}

/* бегущая строка */
.running-line {
  display: flex;
  position: relative;
  max-width: 1920px;
  height: 60px;
  margin: auto;
  background: #f54932;
  overflow: hidden;
  z-index: 12;
}

@media screen and (max-width: 375px) {
  .running-line {
    height: 38px;
  }
}

.running-line__title {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  white-space: nowrap;
  transition: all 1s ease;
}

.running-line__container {
  display: flex;
  animation: scrollText 20s infinite linear;
}

.running-line__wrapper {
  margin: 0;
  padding: 0;
  font-size: 22px;
  color: rgba(255, 255, 255, 1);
  transition: all 0.5s linear;
  display: flex;
  gap: 12px;
  align-items: center;
}

.running-line__text {
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: #fff;
  text-align: right;
  font-family: Merriweather;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 110%;
  text-transform: uppercase;
}

@media screen and (max-width: 375px) {
  .running-line__text {
    font-size: 16px;
  }
}

.support {
  margin: 80px auto 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1250px;
  width: 100%;
}

@media screen and (max-width: 375px) {
  .support {
    margin: 48px auto 0;
  }
}

.support__lead-container {
  max-width: 1222px;
  padding-left: 15px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  row-gap: 17px;
}

@media screen and (max-width: 375px) {
  .support__lead-container {
    max-width: 335px;
    flex-direction: column;
    padding-left: 0;
    row-gap: 25px;
  }
}

.support__title {
  margin: 0;
  padding: 0;
  color: #313131;
  font-family: Merriweather;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: 135%;
  text-transform: uppercase;
  max-width: 764px;
}

@media screen and (max-width: 375px) {
  .support__title {
    display: none;
  }
}

.support__title_type_mobile {
  display: none;
  font-size: 28px;
}

@media screen and (max-width: 375px) {
  .support__title_type_mobile {
    display: block;
  }
}

@media screen and (max-width: 375px) {
  .support__title_type_small {
    font-size: 28px;
    display: block;
  }
}

.support__title_color_red {
  color: #f54932;
  font-weight: 700;
}

.support__title_type_info {
  display: block;
}

.support__players {
  width: 394px;
  height: 250px;
}

@media screen and (max-width: 375px) {
  .support__players {
    width: 335px;
    height: 212.56px;
  }
}

.support__info-container {
  max-width: 1249px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  column-gap: 15px;
}

@media screen and (max-width: 375px) {
  .support__info-container {
    max-width: 375px;
    width: 100%;
    flex-direction: column;
  }
}

.support__image-container {
  position: relative;
  max-width: 525px;
  height: 527px;
  width: 100%;
  margin: 37px 0 0;
}

@media screen and (max-width: 375px) {
  .support__image-container {
    max-width: 375px;
    height: 442px;
    margin: 0;
  }
}

.support__image {
  position: absolute;
  top: 0px;
  left: -6px;
  background-image: url(./images/support-image.png);
  width: 528.99px;
  height: 651.025px;
  background-color: #fff;
  position: absolute;
  min-height: 568px;
  z-index: 1;
  background-repeat: no-repeat;
}

@media screen and (max-width: 375px) {
  .support__image {
    position: absolute;
    top: 32px;
    left: -2px;
    height: 167px;
    min-height: 402px;
    max-width: 375px;
    background-size: 100%;
  }
}

.support__image::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-image: url(./images/texture-info.png);
  mix-blend-mode: color-burn;
}
.support__texture {
  position: absolute;
  width: 100%;
  min-height: 528px;
  mix-blend-mode: color-burn;
  z-index: 2;
  background-repeat: no-repeat;
  background-image: url(./images/texture-info.png);
  left: -21px;
  top: 0;
}

.support__text-container {
  max-width: 704px;
  width: 100%;
  margin: 65px 5px 0 0;
}

@media screen and (max-width: 375px) {
  .support__text-container {
    max-width: 335px;
    width: 100%;
    margin: 19px auto 0;
  }
}

.table {
  margin: 59px 0 0;
  max-width: 704px;
  width: 100%;
  border-collapse: collapse;
}

@media screen and (max-width: 375px) {
  .table {
    margin: 45px 0 0;
    max-width: 335px;
  }
}

.tr {
}

.tr_type_group {
  display: flex;
}

.support__td {
  border: 2px solid #d0d0d0;
  border-left-width: 0;
  border-top-width: 0;
  padding: 16px 16px 16px 0;
  vertical-align: top;
  line-height: 1.2;
  color: #313131;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 24px */
}

@media screen and (max-width: 375px) {
  .support__td {
    display: flex;
    flex-direction: column;
    border-right-width: 0;
  }
}

.support__text_type_head {
  width: 43.5%;
  opacity: 0.7;
}

@media screen and (max-width: 375px) {
  .support__text_type_head {
    width: 100%;
    padding: 16px 0 12px 0;
    border-bottom-width: 0;
  }
}

.support__text_type_info {
  padding: 16px 0 0 16px;
  border-right-width: 0;
  font-weight: 600;
}

@media screen and (max-width: 375px) {
  .support__text_type_info {
    padding: 0px 0px 14px 0px;
  }
}

.support__td_type_first-head {
  padding: 0 0 16px 0;
}

@media screen and (max-width: 375px) {
  .support__td_type_first-head {
    padding: 0 0 12px 0;
  }
}

.support__td_type_first-info {
  padding: 0 0 0 16px;
}

@media screen and (max-width: 375px) {
  .support__td_type_first-info {
    padding: 0px 0px 14px 0px;
  }
}

.support__td_type_last-head {
  border-bottom-width: 0;
  padding: 16px 0 0 0;
}

@media screen and (max-width: 375px) {
  .support__td_type_last-head {
    border-bottom-width: 0;
    padding: 20px 0 0 0;
  }
}

.support__td_type_last-info {
  border-bottom-width: 0;
  padding: 16px 0 0 16px;
  border-right-width: 0;
}

@media screen and (max-width: 375px) {
  .support__td_type_last-info {
    padding: 12px 0 0 0px;
  }
}

.support__td_type_group {
  display: flex;
  column-gap: 12px;
}

@media screen and (max-width: 375px) {
  .support__td_type_group {
    flex-direction: row;
  }
}

.support__text_type_group {
  padding: 0;
  margin: 0;
}

@media screen and (max-width: 375px) {
  .support__td_type_row {
    display: flex;
    border-bottom: 2px solid #d0d0d0;
  }
}

@media screen and (max-width: 375px) {
  .support__text_type_row-head {
    width: 46%;
  }
}

@media screen and (max-width: 375px) {
  .support__text_type_row-info {
    padding: 16px 0px 0px 0px;
    border-bottom-width: 0;
  }
}

.support__text_type_through {
  text-decoration: line-through 2px solid #f54932;
}

.support__subtitle {
  margin: 42px 0 0;
  padding: 0;
  color: #3057a2;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 24px */
}

@media screen and (max-width: 375px) {
  .support__subtitle {
    margin: 38px 0 0;
    font-size: 18px;
  }
}

.transformation {
  margin: 200px auto 0;
  max-width: 1222px;
  width: 100%;
  padding-left: 15px;
  display: flex;
  flex-direction: column;
  position: relative;
}

@media screen and (max-width: 375px) {
  .transformation {
    margin: 120px auto 0;
    padding-left: 0;
  }
}

.transformation__wrapper {
  margin: 0 auto 0;
}

@media screen and (max-width: 375px) {
  .transformation__wrapper {
    max-width: 335px;
  }
}

.transformation__header {
  max-width: 806px;
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 0 0 53px;
}

@media screen and (max-width: 375px) {
  .transformation__header {
    max-width: 335px;
    row-gap: 12px;
    margin: 0 0 150px;
  }
}

.transformation__title {
  margin: 0;
  padding: 0;
  color: #313131;
  font-family: Merriweather;
  font-size: 54px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 64.8px */
  text-transform: uppercase;
}

@media screen and (max-width: 375px) {
  .transformation__title {
    font-size: 36px;
    line-height: 110%;
    max-width: 335px;
  }
}

.transformation__subtitle {
  position: absolute;
  bottom: 10px;
  left: 301px;
  margin: 0;
  padding: 0;
  color: #3057a2;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 24px */
  max-width: 280px;
}

@media screen and (max-width: 375px) {
  .transformation__subtitle {
    position: initial;
    color: #3057a2;
    font-size: 18px;
    padding-left: 4px;
    max-width: 335px;
  }
}

@media screen and (max-width: 375px) {
  .transformation__overflow {
    overflow: hidden;
  }
}

.transformation__container {
  margin: 0;
  padding: 0;
  list-style-type: none;
  position: relative;
  /* overflow: hidden; */
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 112px 112px 136px;
  gap: 20px;
  grid-auto-flow: row dense;
  grid-template-areas:
    ". . fff"
    ". . fff"
    ". ddd ddd";
}

@media screen and (max-width: 375px) {
  .transformation__container {
    display: flex;
    flex-direction: column;
    height: 300px;
    row-gap: 0;
    flex-wrap: wrap;
    /* overflow: hidden; */
  }
}

.transformation__grid-area {
  display: flex;
  padding: 20px;
  column-gap: 16px;
}

@media screen and (max-width: 375px) {
  .transformation__grid-area {
    display: flex;
    flex: 1 0;
    padding: 63px 20px 0;
    column-gap: 16px;
  }
}

.eee {
  background-image: url(./images/grid-background-with-texture.png);
  /* opacity: 0.8; */
  text-decoration: none;
}

.fff {
  grid-area: fff;
  background-image: url(./images/grid-background-with-texture.png);
  /* opacity: 0.8; */
}

@media screen and (max-width: 375px) {
  .fff {
    flex: 100%;
  }
}

@media screen and (max-width: 375px) {
  .hhh {
    flex: 0 1;
    padding-bottom: 28px;
  }
}

.ddd {
  grid-area: ddd;
  background-image: url(./images/grid-background-with-texture-long-area.png);
  position: relative;
}

@media screen and (max-width: 375px) {
  .ttt {
    padding: 0 20px 0;
  }
}

.transformation__count-wrapper {
  max-width: 36px;
  height: 36px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 60px;
  background: #fff;
  color: #313131;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%; /* 24px */
}

.transformation__text {
  margin: 0;
  padding: 0;
  color: #313131;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%; /* 24px */
}

@media screen and (max-width: 375px) {
  .transformation__text {
    font-size: 18px;
  }
}

.transformation__text_type_long {
  max-width: 446px;
}

.transformation__airplane {
  position: absolute;
  right: -4%;
  width: 30%;
  bottom: 3.8%;
}

@media screen and (max-width: 375px) {
  .transformation__airplane {
    width: 317.2px;
    /* height: 123.753px; */
    right: 21px;
    bottom: 316px;
    transform: rotate(357deg);
  }
}

.transformation__controls {
  display: none;
}

@media screen and (max-width: 375px) {
  .transformation__controls {
    display: flex;
    column-gap: 16px;
    justify-content: center;
    margin: 28px 0 0;
  }
}

@media screen and (max-width: 375px) {
  .transformation__control {
    cursor: pointer;
    border: none;
    width: 36px;
    height: 36px;
    background: transparent;
    transition: background-image 0.2s ease-in-out;
    background-size: 36px;
  }
}

@media screen and (max-width: 375px) {
  .transformation__control_type_prev {
    background-image: url(./images/carousel-button-left.svg);
  }
}

@media screen and (max-width: 375px) {
  .transformation__control_type_prev:hover {
    background-image: url(./images/carousel-button-left-hover.svg);
  }
}

@media screen and (max-width: 375px) {
  .transformation__control_type_prev:disabled {
    background-image: url(./images/carousel-button-left-disabled.svg);
  }
}

@media screen and (max-width: 375px) {
  .transformation__indicators {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
  }
}

@media screen and (max-width: 375px) {
  .transformation__indicator {
    margin: 0;
    padding: 0;
    cursor: pointer;
    border: none;
    width: 10px;
    height: 10px;
    background: #d9d9d9;
    border-radius: 10px;
  }
}

@media screen and (max-width: 375px) {
  .transformation__indicator_active {
    background: #313131;
  }
}

@media screen and (max-width: 375px) {
  .transformation__control_type_next {
    background-image: url(./images/carousel-button-right.svg);
  }
}

@media screen and (max-width: 375px) {
  .transformation__control_type_next:hover {
    background-image: url(./images/carousel-button-right-hover.svg);
  }
}

@media screen and (max-width: 375px) {
  .transformation__control_type_next:disabled {
    background-image: url(./images/carousel-button-right-disabled.svg);
  }
}

.participants {
  margin: 200px auto 140px;
  overflow: hidden;
  max-width: 1222px;
  width: 100%;
  padding-left: 15px;
}

@media screen and (max-width: 375px) {
  .participants {
    margin: 120px auto 100px;
    max-width: 335px;
    padding-left: 0;
  }
}

.participants__wrapper {
  display: flex;
  justify-content: space-between;
  position: relative;
  flex-direction: column;
}

@media screen and (max-width: 375px) {
  .participants__header {
    flex-direction: column;
  }
}

.participants__title {
  margin: 0;
  padding: 0;
  color: #313131;
  font-family: Merriweather;
  font-size: 54px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 64.8px */
  text-transform: uppercase;
}

@media screen and (max-width: 375px) {
  .participants__title {
    font-size: 36px;
    line-height: 110%;
  }
}

.participants__cards {
  margin: 60px 0 0;
  display: flex;
  transition: transform 0.5s ease-in-out;
  column-gap: 20px;
}

@media screen and (max-width: 375px) {
  .participants__cards {
    margin: 40px 0 0;
  }
}

.participants__card {
  flex: 0 0 33.3333%;
  max-width: 394px;
  width: 100%;
  box-sizing: border-box;
  /* padding: 20px; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (max-width: 375px) {
  .participants__card {
    flex: 1 0 100%;
  }
}

.participants__avatar {
  max-width: 320px;
  max-height: 320px;
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 375px) {
  .participants__avatar {
    max-width: 244px;
    max-height: 244px;
  }
}

.participants__container {
  margin: 28px 0 0;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  align-items: center;
}

@media screen and (max-width: 375px) {
  .participants__container {
    margin: 31px 0 0;
  }
}

.participants__person {
  display: flex;
  flex-direction: column;
  row-gap: 6px;
  align-items: center;
}

.participants__name {
  margin: 0;
  padding: 0;
  color: #313131;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
}

.participants__rank {
  margin: 0;
  padding: 0;
  color: #313131;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 24px */
  opacity: 0.6;
}

.participants__details {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background: transparent;
  padding: 12px;
  border-radius: 62px;
  border: 1px solid #3057a2;
  max-width: 113px;
  width: 100%;
  max-height: 35px;
  color: #3057a2;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%; /* 19.2px */
}

.participants__details:hover {
  background: #3057a2;
  color: #fff;
}

.participants__controls {
  position: absolute;
  top: 10px;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 151px;
  width: 100%;
}

@media screen and (max-width: 375px) {
  .participants__controls {
    position: initial;
    margin: 40px auto 0;
    max-width: 128px;
  }
}

.participants__control {
  cursor: pointer;
  border: none;
  width: 44px;
  height: 44px;
  background: transparent;
  transition: background-image 0.2s ease-in-out;
}

@media screen and (max-width: 375px) {
  .participants__control {
    width: 36px;
    height: 36px;
    background-size: 36px;
  }
}

.participants__control_type_prev {
  background-image: url(./images/carousel-button-left.svg);
}

.participants__control_type_next {
  background-image: url(./images/carousel-button-right.svg);
}

.participants__control_type_prev:hover {
  cursor: pointer;
  background-image: url(./images/carousel-button-left-hover.svg);
}

.participants__control_type_next:hover {
  cursor: pointer;
  background-image: url(./images/carousel-button-right-hover.svg);
}

.participants__control_type_prev:disabled {
  cursor: auto;
  background-image: url(./images/carousel-button-left-disabled.svg);
}

.participants__control_type_next:disabled {
  cursor: auto;
  background-image: url(./images/carousel-button-right-disabled.svg);
}

.participants__counter {
  margin: 0;
  padding: 0 14px 0;
  font-size: 18px;
}

@keyframes scrollText {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-50%);
  }
}

@keyframes circleText {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
