.transformation__title {
  margin: 0;
  padding: 0;
  color: #313131;
  font-family: Merriweather;
  font-size: 54px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 64.8px */
  text-transform: uppercase;
}

@media screen and (max-width: 850px) {
  .transformation__title {
    font-size: 36px;
    line-height: 110%;
    max-width: 335px;
  }
}