.support__image {
  position: absolute;
  top: 0px;
  left: -6px;
  background-image: url(../../../images/support-image.png);
  width: 528.99px;
  height: 651.025px;
  background-color: #fff;
  position: absolute;
  min-height: 568px;
  z-index: 1;
  background-repeat: no-repeat;
}

@media screen and (max-width: 850px) {
  .support__image {
    position: absolute;
    top: 32px;
    left: -2px;
    height: 167px;
    min-height: 402px;
    max-width: 375px;
    background-size: 100%;
  }
}

.support__image::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-image: url(../../../images/texture-info.png);
  mix-blend-mode: color-burn;
}
