.hero__background-img {
    position: absolute;
    z-index: 12;
    top: -44px;
    left: 158px;
  }
  
  @media screen and (max-width: 1660px) {
    .hero__background-img {
      left: 0;
    }
  }
  
  @media screen and (max-width: 1367px) {
    .hero__background-img {
      left: -120px;
    }
  }
  
  @media screen and (max-width: 1070px) {
    .hero__background-img {
      left: -140px;
    }
  }
  
  @media screen and (max-width: 850px) {
    .hero__background-img {
      left: 49px;
    }
  }
  
  @media screen and (max-width: 376px) {
    .hero__background-img {
      left: -120px;
    }
  }